*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body{
    background-color: #f0f0f0;
    color: hsl(276, 47%, 37%);
    line-height: 1.6;
    padding: 20px;
}