*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body{
    background-color: #f0f0f0;
    color: #421e1e;
    line-height: 1.6;
    padding: 20px;
}
.card{
    width: 90%;
    max-width: 470px;
    background-color: #5dbcd9;
    border-radius: 20px;  
    margin: 20px auto;
    padding:40px 35px;
    text-align: center;
    margin: 100px auto 0;
    border-radius: 20px;

}
.search input{
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    flex: 1;
    outline: 1px solid #000000;
}
.search button{
    
    padding: 10px 15px;
    border: none;
    background-color: #ab2786cc;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    width: 70px;
    height: 60px;
    cursor: pointer;

}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather-icon{
    width: 170px;
    margin-top: 10px;

}
.weather h1{
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
}
.weather h2{
    font-size: 32px;
    font-weight: normal;
    margin-top: 10px;
}
.weather p{
    font-size: 20px;
    margin-top: 10px;
}
.details{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 30px;
    
}
.col{
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.col img{
    width: 40px;
    margin-bottom: 10px;
}
.col p{
    font-size: 18px;
}
.humidity, .wind{
    font-size: 28px;
    font-weight: bold;
    margin: -6px;

}
.weather{
    display:none;
}